<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='f369000bec9609aff369000bec9609af'/>
  <team v='234980'/>
  <user v='7eihkr1ibb04'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
